footer {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footer-menu {
  margin: 0;
  list-style: none;
  li {
    margin: 1rem 0.375rem;
  }
}

@media only screen and (max-width: 768px) {
  footer.page-footer {
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
    display: block;
    justify-content: space-between;
  }
}
