footer {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  margin: 0;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  footer.page-footer {
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
    display: block;
    justify-content: space-between;
  }
}
